{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<!-- Title and Recipe Image -->
<div class="masthead">
    <div class="container">
        <div class="row g-0 shadow">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title text-capitalize">{{ recipe.title }}
                </h1>
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/saltta/image/upload/v1649568477/placeholder-recipe-image_mpdufj.jpg"
                    width="100%">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" width="100%">
                {% endif %}
            </div> 
        </div>
    </div>
</div>

<!-- Recipe Details -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                    <p class="card-text ">{{recipe.content | safe }}</p>
                    <p class="card-text text-center lead">Ingredients:</p>
                    <p class="card-text text-center ">{{recipe.ingredients | safe }}</p>
                    <p class="card-text text-center lead">Steps:</p>
                    <p class="card-text text-center ">{{recipe.steps | safe }}</p>
                <div class="row">

                    <!-- Likes and Comments Count -->
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form action="{% url 'recipe_like' recipe.slug %}" class="d-inline" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button class="btn-like" type="submit" name="blogpost_id" value="{{recipe.slug}}">
                                    <i class="fas fa-lemon"></i>
                                </button>

                                {% else %}

                                <button class="btn-like" type="submit" name="blogpost_id" value="{{recipe.slug}}">
                                    <i class="far fa-lemon"></i>
                                </button>

                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-lemon"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ recipe.number_of_likes }}</span>
                        </strong>

                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <!-- Comment Section -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Comment Box -->
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comment box only appears to authenticated users -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Commenting as: {{ user.username }}</p>
                <form method="POST" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <div class="card-body text-center">
                    <p>Please sign in or register to leave a comment</p>
                    <a href="{% url 'account_signup' %}" class="btn btn-signup">Register</a>
                    <a href="{% url 'account_login' %}" class="btn btn-signup">Login</a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            {% if request.user == recipe.author %}
            <h5>Manage your recipe:</h5>
            <strong>{{ recipe.author }}</strong> - {{ recipe.title }}
            <p class="edit-delete"><a href="{% url 'recipe_edit' recipe.slug %}"><button
                        class="btn btn-success edit-recipe"><i class="fa fa-edit"></i> | Edit</button></i></a>
                <a href="{% url 'recipe_delete' recipe.slug %}"><button class="btn btn-danger"><i
                            class="fa fa-trash"></i> | Delete</button></a></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}